body{
    background-color:rgba(0,0,0,0.11) !important;
}
h3 {
    margin : 20px 20px 20px 20px;
}
.teaser-info{
    background-color: whitesmoke;
    padding: 12px;
}
.teaser-info .p{
    margin: 0 auto;
}
.teaser-img{
    margin: 0 auto;
    height: 230px !important;
    width: 100% !important;
}
.margin0{
    margin: 0 0 0 0;
}
.margin15{
    margin-bottom: 15px;
    padding-left: 5px !important;  
    padding-right: 5px !important; 
}
.map .img {
    max-width: auto;
}
#flat-desc .thumbnail{
    padding: 20px;
}

.slide750x500 {
    margin: 0 auto;
    height: 490px !important;
}

#logo {
    height: 60px;
}

#logo-container {
    margin: 10px 10px 10px 15px;
}